<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${@siteSettings.title + ' - Documentation'}">Documentation</title>
    <object th:include="fragments/head :: head" th:remove="tag"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(documentation)">...</div>
<div class="container-fluid p-4">

    <div th:replace="fragments/title :: title(title='Instructions')" th:remove="tag">...</div>

    <div class="main-content p-4">
        <p><b>Input:</b></p>
        <p>One or more protein sequences in fasta format. Optional OX=n can be included in the FASTA header to
            explicitly identify the sequence Taxa ID as n, otherwise, the Taxa ID of the sequence with the highest
            alignment (Bits score) will be used as the query Taxa ID. Taxa IDs can be obtained from
            <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/TaxIdentifier/tax_identifier.cgi" target="_blank"
               rel="noopener noreferrer">NCBI Taxonomy name/id</a></p>
        <p><b>Output:</b></p>
        <p><a th:href="@{/job/example}" href="../job/example">Live Example</a></p>
        <ol type="I">
            <li> The potential deleteriousness effect of every possible amino acid mutation in the form of a heat-map
                matrix.
            </li>
            <li> A downloadable text file with the following columns:
                <ol type="1">
                    <li>AC: Sequence id from the fasta header.</li>
                    <li>Pos: Amino acid position.</li>
                    <li>Ref: The reference amino acid.</li>
                    <li>Conservation: The average <span th:text="${@siteSettings.title}" th:remove="tag">LIST-S2</span> deleteriousness score of all possible mutations at that
                        position.
                    </li>
                    <li>20 columns one for each amino acid: The potential deleteriousness <span th:text="${@siteSettings.title}" th:remove="tag">LIST-S2</span> score for mutating the
                        reference amino acid to “this” amino acid. Scores are in the range [0 .. 1], where lower scores indicate more benign and higher indicate deleteriousness effect.
                    </li>
                </ol>
        </ol>
    </div>

    <div th:replace="fragments/title :: title(title='Job Deletion Policy')" th:remove="tag">...</div>
    <div class="main-content p-4">
        <p>Jobs will be stored for at least 14 days, afterwards they may be deleted without notice. </p>
    </div>

    <div th:replace="fragments/title :: title(title='Versions')" th:remove="tag">...</div>
    <div class="main-content p-4">
        <p class="card-text">GraPES: <b>v1.0 (2020)</b></p>
        <footer class="blockquote-footer">Based on <cite>BLAST (2.2.26, 2.2.30+)</cite></footer>
        <footer class="blockquote-footer">Based on <cite>DISOPRED (3.16)</cite></footer>
        <footer class="blockquote-footer">Based on <cite>RBPPRED (1.0) (SCRATCH-1D 1.2)</cite></footer>
        <footer class="blockquote-footer">Based on <cite>Soluprot (v1)</cite></footer>
    </div>

</div>


    <div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
