<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${@siteSettings.title + ' - Documentation'}">Documentation</title>
    <object th:include="fragments/head :: head" th:remove="tag"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(documentation)">...</div>
<div class="container-fluid p-4">

    <div th:replace="fragments/title :: title(title='Instructions')" th:remove="tag">...</div>

    <div class="main-content p-4">
        <p><b>Input:</b></p>
        <p>One or more protein sequences in fasta format.
        <p><b>Output:</b></p>
        <p><a th:href="@{/results/precomputed/A0AV96}" href="../results/precomputed/A0AV96">Live Example</a></p>
        <pre>
{
    "accession": Unitprot Accession,
    "species": Species,
    "score": MaGS Z-Score,
    "abundance": Abundance,
    "camsol": Camsol,
    "annotatedPhosphorylationSites": Annotated Phosphorylation Sites,
    "disorder": % Disorder,
    "compositionD": % Composition of D,
    "compositionE": % Composition of E,
    "compositionL": % Composition of L,
    "compositionG": % Composition of G,
    "rna": true/false,
    "pscore": PScore
}
        </pre>
    </div>

<!--    <div th:replace="fragments/title :: title(title='Job Deletion Policy')" th:remove="tag">...</div>-->
<!--    <div class="main-content p-4">-->
<!--        <p>Jobs will be stored for at least 14 days, afterwards they may be deleted without notice. </p>-->
<!--    </div>-->

    <div th:replace="fragments/title :: title(title='Versions')" th:remove="tag">...</div>
    <div class="main-content p-4">
        <p class="card-text">GraPES: <b>v1.0 (2020)</b></p>
        <footer class="blockquote-footer">Based on <cite>BLAST (2.2.26, 2.2.30+)</cite></footer>
        <footer class="blockquote-footer">Based on <cite>DISOPRED (3.16)</cite></footer>
        <footer class="blockquote-footer">Based on <cite>RBPPRED (1.0) (SCRATCH-1D 1.2)</cite></footer>
        <footer class="blockquote-footer">Based on <cite>Soluprot (v1)</cite></footer>
    </div>

</div>


    <div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
