<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${@siteSettings.title + ' - Result'}">Result</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <script src="https://code.highcharts.com/8.2.2/highcharts.js"></script>
    <script src="https://code.highcharts.com/8.2.2/modules/histogram-bellcurve.js"></script>
    <script src="https://code.highcharts.com/8.2.2/modules/boost.js"></script>
    <script src="https://code.highcharts.com/8.2.2/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/8.2.2/modules/offline-exporting.js"></script>
    <script th:inline="javascript">

        /*<![CDATA[*/

        const graphs = /*[[${graphs}]]*/ 'graphs';
        const label = 'Result';

        /*]]>*/
    </script>
    <script th:src="@{/js/result.js}"></script>

</head>
<body>
<div th:replace="fragments/navbar">...</div>
<div class="container-fluid p-4">

    <div id="job-view-content" class="main-content p-4" >

        <h1 class="mb-0 text-center" th:text="${job.label}">...</h1>
        <span class="d-block text-center mb-4 text-muted" th:text="${job.species.label + ' Model'}">...</span>
        <!--<small class="d-block text-center mb-4 text-muted" th:if="${job.hidden}" th:text="Private">...</small>-->

        <div class="card mx-auto text-center mb-4 result-card" th:if="${job}" style="min-width:750px;">
            <div class="card-header">
                <h5 class="mb-0 text-center">MaGSeq Z-Score Distribution</h5>
                <span class="d-block text-center text-muted">To zoom in, click and drag to select a region of interest. Click a series in the legend to hide it.</span>
                <span class="d-block text-center text-muted">Selected representative proteins from different PMLO are shown to
                    indicate how these proteins perform in our predictor.</span>
            </div>
            <div class="card-body" th:if="${graphs}">
                <div class="row">
                    <div th:each="graph : ${graphs}" th:if="${graph.score != null && graph.title == 'MaGSeq Z-Score'}" class="graph col-12">
                        <div th:id="${graph.label + '-graph'}"></div>
                        <div>
                            <p th:text="${graph.description}"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card mx-auto text-center mb-4 result-card" th:if="${job}" style="min-width:750px;">
            <div class="card-header">
                <h5 class="mb-0 text-center">Feature Distributions</h5>
                <span class="d-block text-center text-muted">To zoom in, click and drag to select a region of interest. Click a series in the legend to hide it.</span>
                <span class="d-block text-center text-muted">Individual features scores for the predicted sequence are shown below.
                    Selected representative proteins from different PMLO are shown to indicate how these proteins perform in our predictor.</span>
            </div>
            <div class="card-body" th:if="${graphs}">
                <div id="graphs" class="row">
                    <div th:each="graph : ${graphs}" th:if="${graph.score != null && graph.title != 'MaGSeq Z-Score'}" class="graph col-xl-6 col-sm-12">
                        <div th:id="${graph.label + '-graph'}"></div>
                        <div>
                            <p th:text="${graph.description}"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card mx-auto text-center mb-4 result-card">
            <div class="card-header">
                <h5 class="mb-0 text-center">Scores</h5>
            </div>
            <table class="job-table table table-sm mb-0">
                <tbody>
                <tr>
                    <td class="text-right" style="width: 33%">Label:</td>
                    <td><span class="align-middle p-4" th:text="${job.label}"></span></td>
                </tr>
                <tr>
                    <td class="text-right" style="width: 33%">Species:</td>
                    <td><span class="align-middle p-4" th:text="${job.species}"></span></td>
                </tr>
                <div th:if="${graphs}" th:remove="tag">
                    <tr th:each="graph : ${graphs}" th:if="${graph.score != null}">
                        <td class="text-right" style="width: 33%" th:text="${graph.title}"></td>
                        <td>
                            <span class="align-middle p-4">
                                <span th:text="${graph.score} % 1 == 0? ${graph.score} :${#numbers.formatDecimal(graph.score, 0, 2)}" th:remove="tag"></span>
                                <span th:if="${graph.unit != null}" th:text="${graph.unit}" th:remove="tag"></span>
                            </span>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>

        <div class="card mx-auto text-center mb-4 result-card">
            <div class="card-header">
                <h5 class="mb-0 text-center">Downloads</h5>
            </div>
            <div class="card-body">
                <p>Below you can access JSON representations of this job's metadata and scores (Job Results) and the background proteome distribution (Proteome Distribution).</p>
                <a th:href="'/api/job/' + ${job.id}" class="align-middle mr-2" target="_blank"><i class="fas fa-file-download mr-1"></i>Job Results</a>
                <a th:href="'/api/job/' + ${job.id} + '/graphs'" class="align-middle" target="_blank"><i class="fas fa-file-download mr-1"></i>Proteome Distribution</a>
            </div>
        </div>

    </div>

</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>