<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${@siteSettings.title}">List-S2</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/precomputed-table.js}"></script>
    <script th:inline="javascript">

        $(document).ready(function () {
            $('.toast').toast('show');
            $(function () {
                $('[data-toggle="popover"]').popover({trigger: 'focus'})
            })
        });

    </script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/precomputed-table.css}"/>

</head>
<body>
<div th:replace="fragments/navbar :: navbar(precomputed)">...</div>
<div class="container-fluid p-4">
    <div style="position: absolute; top: 100px; right: 25px;min-width: 200px;z-index: 1;opacity: 0.8;">

        <div th:each="message: ${messages}" class="toast fade hide"
             th:classappend="${message.level.name() == 'INFO' ? 'bg-success' :
             (message.level.name() == 'WARNING' ? 'bg-warning' : 'bg-danger')}" data-autohide="true" data-delay="5000">
            <div class="toast-header" style="border-bottom: none; justify-content: space-between;">
                <div class="toast-body mr-3" style="overflow-x: auto; overflow-y: hidden;" th:text="${message.message}"></div>
                <button type="button" class="close" style="align-self: flex-start;" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>

    <div class="main-content p-4" >
        <p class="mb-3" style="font-size: 125%">
            This website, <b th:text="${@siteSettings.title}">GraPES</b>, contains tools to predict proteins’ likelihood to
            be contained in liquid-liquid phase separated biological condensates within a cellular environment.
        </p>
        <p class="mb-5" style="font-size: 125%">
            Two main tools are available: <b>MaGS</b> and <b>MaGSeq</b>. MaGS(below) provides precomputed z-scores for the likelihood of granule localization.
            MaGS exploits publically available knowledge of a protein's biological context. Enter Uniprot IDs for either yeast (S. Cerevisiae) or
            human proteins. If the protein is unavailable, or you are looking for different organisms, please use <a th:href="@{/submit}" href="/submit">MaGSeq</a>.
            Details on the MaGS method can be found at <a href="https://doi.org/10.1016/j.jmb.2020.02.020" target="_blank">https://doi.org/10.1016/j.jmb.2020.02.020</a>
            and the sequence-based model will be discussed in an upcoming publication.
        </p>
        <div>
            <div th:replace="fragments/precomputed-table :: precomputed-table"
                 th:remove="tag">...
            </div>
        </div>


        </div>

    </div>




</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
