<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${@siteSettings.title}">List-S2</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script th:src="@{/js/queue.js}"></script>
    <script th:inline="javascript">

        $(document).ready(function () {
            $('.toast').toast('show');
            $(function () {
                $('[data-toggle="popover"]').popover({trigger: 'focus'})
            })

            $('.search-input').autoComplete();
        });

    </script>

</head>
<body>
<div th:replace="fragments/navbar :: navbar(search)">...</div>
<div class="container-fluid p-4">
    <div style="position: absolute; top: 100px; right: 25px;min-width: 200px;z-index: 1;opacity: 0.8;">

        <div th:each="message: ${messages}" class="toast fade hide"
             th:classappend="${message.level.name() == 'INFO' ? 'bg-success' :
             (message.level.name() == 'WARNING' ? 'bg-warning' : 'bg-danger')}" data-autohide="true" data-delay="5000">
            <div class="toast-header" style="border-bottom: none; justify-content: space-between;">
                <div class="toast-body mr-3" style="overflow-x: auto; overflow-y: hidden;" th:text="${message.message}"></div>
                <button type="button" class="close" style="align-self: flex-start;" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>

    <div class="main-content p-4" >

        <h5 class="mb-3"><b th:text="${@siteSettings.title}">LIST-S2</b> predicts the deleteriousness of amino acid mutations in protein sequences based on Taxonomy distances.</h5>

        <div class="p-2">
            <form method="POST" enctype="multipart/form-data" action="/">
                <div class="form-row">
                    <div class="form-group align-self-start col-lg-12 col-12">
                        <label for="search" class="mb-0">Search Uniprot IDs</label>
                        <small id="searchHelp" class="form-text text-muted font-italic mt-0">Search for precomputed results for Uniprot IDs in Human and Yeast.</small>
                        <input autocomplete="off" data-url="results/search" type="text" class="form-control search-input" id="search" name="search" aria-describedby="searchHelp" placeholder="Search by Uniprot ID">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form-submit-wrapper align-self-end" style="text-align: center;">
                        <button type="submit" class="btn btn-lg btn-primary mr-3">Submit</button>
                    </div>
                </div>
            </form>


        </div>

    </div>




</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
