<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${@siteSettings.title}">List-S2</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const sessionId = /*[[${sessionId}]]*/ '';
        /*]]>*/
    </script>
    <script th:src="@{/js/queue.js}"></script>
    <script th:inline="javascript">

        $(document).ready(function () {
            $("#fastaExampleBtn").click(function(e) {
                $("#fasta").val(
                    ">P07766 OX=9606\r\n" +
                    "MQSGTHWRVLGLCLLSVGVWGQDGNEEMGGITQTPYKVSISGTTVILTCPQYPGSEILWQHNDKNIGGDEDDKNIGSDEDHLSLKEFSELEQSGYYVCYPRGSKPEDANFYLYLRARVCENCMEMDVMSVATIVIVDICITGGLLLLVYYWSKNRKAKAKPVTRGAGAGGRQRGQNKERPPPVPNPDYEPIRKGQRDLYSGLNQRRI\r\n" +
                    ">Q764N2|CD3D_PIG\r\n" +
                    "MEHSRFLSGLILAAFLSRVSPYEVEMEELEDKVFVSCNTSIIWLQGTEGELLSDKKIDLGKRILDPRGLYKCNAPKEQDSNSKIFLQVYYRMCQNCVELDSATLAGIIVTDIIATLLLALGVYCFAGHEMGRFSRAADTQDLLRNDQLYQPLRDRNDGQYSRLGENWARNK"
                )
            });
            $('.toast').toast('show');
            $(function () {
                $('[data-toggle="popover"]').popover({trigger: 'focus'})
            })
        });

    </script>

</head>
<body>
<div th:replace="fragments/navbar :: navbar(submit)">...</div>
<div class="container-fluid p-4">
    <div style="position: absolute; top: 100px; right: 25px;min-width: 200px;z-index: 1;opacity: 0.8;">

        <div th:each="message: ${messages}" class="toast fade hide"
             th:classappend="${message.level.name() == 'INFO' ? 'bg-success' :
             (message.level.name() == 'WARNING' ? 'bg-warning' : 'bg-danger')}" data-autohide="true" data-delay="5000">
            <div class="toast-header" style="border-bottom: none; justify-content: space-between;">
                <div class="toast-body mr-3" style="overflow-x: auto; overflow-y: hidden;" th:text="${message.message}"></div>
                <button type="button" class="close" style="align-self: flex-start;" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>

    <div class="main-content p-4" >

        <p class="mb-3" style="font-size: 125%">
            Here we provide <b>MaGSeq</b>, the second tool to predict the likelihood of proteins to be contained within
            liquid-liquid phase separated (LLPS) protein condensates within a cellular environment. It is important to
            note that the MaGS and MaGSeq models are not directly comparable. Additionally, MaGSeq is intended as a
            supplemental tool for the MaGS method and has not been parameterized to accurately score the relative
            difference in minor alterations in protein sequences, as the method looks at overall sequence properties.
        </p>
        <p style="font-size: 125%">
            Submitted sequences are processed using MaGSeq, given limited computing resources please expect delays
            of ~30min per job ahead of you in the queue. If an email is provided, we will contact you when the job has finished.
        </p>

        <div class="p-2">
            <form method="POST" enctype="multipart/form-data" action="/submit">
                <input type="hidden" id="session" name="session" th:value="${sessionId}">
                <!--<div class="form-group">-->
                    <!--<label for="fastaFile">FASTA file</label>-->
                    <!--<input type="file" class="form-control-file" id="fastaFile" name="fastaFile" aria-describedby="fastaFileHelp" required>-->
                    <!--<small id="fastaFileHelp" class="form-text text-muted">Sequence file in the FASTA format labeled with matching chain ID.</small>-->
                <!--</div>-->
                <div class="form-row">
                    <div class="form-group col-lg-8 col-12">
                        <label for="fasta" class="mb-0">Enter protein sequences with identifier headers in FASTA format. <a id="fastaExampleBtn" href="#">Try example</a>.</label>
                        <div class="search-wrapper">
                            <textarea rows="6" class="form-control search-box" style="resize:vertical;" id="fasta" name="fasta" aria-describedby="fastaHelp" required=""></textarea>
                            <button class="close-icon fas fa-times-circle text-danger" type="reset"></button>
                        </div>
                    </div>
                    <div class="form-group align-self-start col-lg-4 col-12">
                        <div class="form-group align-self-start">
                            <label for="species" class="mb-0">Model</label>
                            <select class="custom-select" id="species" name="species">
                                <option th:each="species : ${T(com.jacobsonmt.mags.ui.model.Species).values()}"
                                        th:value="${species}" th:text="${species.label}" th:selected="${species=='HUMAN'}"></option>
<!--                                <option value="HUMAN" selected>Human</option>-->
<!--                                <option value="YEAST">Yeast</option>-->
                            </select>
                        </div>
                        <div th:if="${!@applicationSettings.isDisableEmails()}">
                            <label for="email" class="mb-0">Notification Email - Optional</label>
                            <small id="emailHelp" class="form-text text-muted font-italic mt-0">Used to notify on job finish.</small>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form-submit-wrapper align-self-end" style="text-align: center;">
                        <button type="submit" class="btn btn-lg btn-primary mr-3">Submit</button>
<!--                        <button type="reset" class="btn btn-lg btn-danger">-->
<!--                            <i class="fas fa-trash mr-1"></i>Clear-->
<!--                        </button>-->
                    </div>
                </div>
            </form>


        </div>

        <hr/>

        <div id="job-table">
            <div th:replace="fragments/job-table :: job-table(joblist=${jobs})"
                 th:remove="tag">...
            </div>
        </div>

    </div>




</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
