.search-box,.close-icon,.search-wrapper {
    position: relative;
}

.close-icon {
    border:none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;
}
.close-icon:focus {
    outline: none;
}
.search-box:not(:valid) ~ .close-icon {
    display: none;
}

.popover {
    max-width: 600px;
}