<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer">
    <div class="text-center">
        <span class="text-muted" th:text="${'&copy; Copyright 2020. &quot; Michael Smith Laboratories &quot; All rights reserved.'}"></span>
        <span><a class="px-1" th:href="@{/contact}" href="/contact">Contact Support</a></span>
    </div>
    <div class="text-center website-attribution">
        <span class="text-muted">
            <i>Website developed by <a href="https://jacobsonmt.com" target="_blank">Matthew Jacobson</a></i>
        </span>
    </div>
    <div class="text-center website-sourcecode">
        <span class="text-muted">
            <i><a href="https://github.com/ekuec/2020_grapes_server" target="_blank">Source Code</a></i>
        </span>
    </div>
</footer>
</body>
</html>