<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table class="job-table table table-sm mb-0" th:fragment="job-table (joblist)">
    <thead class="thead-light">
    <tr>
        <th scope="col"></th>
        <th scope="col">Header</th>
        <th scope="col">Species</th>
        <th scope="col">Status</th>
        <th scope="col">Message</th>
        <th scope="col">Submitted</th>
        <th scope="col">Results</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="job : ${joblist}">
        <tr>
            <td class="text-center">
                <span class="align-middle">
                    <a th:jobId="${job.id}" onclick="deleteJob(event, this.getAttribute('jobId'))" title="delete" class="align-middle mr-2" style="cursor: pointer;"><i class="fas fa-trash"></i></a>
                </span>
            </td>
            <td><span class="align-middle" th:text="${job.label}" th:classappend="${#strings.contains(job.status, 'ERROR') ? 'text-danger' : ''}"></span></td>
            <td><span class="align-middle" th:text="${job.species}" th:classappend="${#strings.contains(job.status, 'ERROR') ? 'text-danger' : ''}"></span></td>
            <td><span class="align-middle" th:text="${job.status}" th:classappend="${#strings.contains(job.status, 'ERROR') ? 'text-danger' : ''}"></span></td>
            <td><span class="align-middle" th:text="${job.message}" th:classappend="${#strings.contains(job.status, 'ERROR') ? 'text-danger' : ''}"></span></td>
            <td><span class="align-middle" th:text="${job.createdDate}" th:classappend="${#strings.contains(job.status, 'ERROR') ? 'text-danger' : ''}"></span></td>
            <td>
                <span class="align-middle">
                    <a th:href="'job/' + ${job.id}" target="_blank" class="align-middle mr-2" style="white-space: nowrap;"><i class="fas fa-chart-area mr-1"></i>View</a>
                    <a th:href="'api/job/' + ${job.id} + '/csv'" class="align-middle mr-2" target="_blank" style="white-space: nowrap;"><i class="fas fa-file-csv mr-1"></i>CSV</a>
                    <a th:href="'api/job/' + ${job.id}" class="align-middle" target="_blank" style="white-space: nowrap;"><i class="fas fa-file-code mr-1"></i>JSON</a>
                </span>
            </td>
        </tr>
    </th:block>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4" style="text-align:left" class="text-muted">
            <span style="position: absolute;">*Jobs will be stored for at least 14 days</span>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>