<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table id="precomputed-table" class="table table-sm mb-0" th:fragment="precomputed-table" style="width:100%">
    <thead class="thead-light">
    <tr>
        <th scope="col">Accession</th>
        <th scope="col">Species</th>
        <th scope="col">MaGS Z-Score</th>
        <th scope="col">Results</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="4">

        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>